.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
  float: none;
  padding: 20px;
}

.subHeader {
    font-family: RobotoMB;
    font-size: 18px !important;
    color: #424242;
    line-height: 25px;   
    margin-bottom: 20px;
}

.details {
    width: 100%;
    background-color: #fff;
    height: 30px;
    border: none;
    border-bottom: 1px solid #a6a6a6;
    margin: 5px 0;
    line-height: 30px;
    border-radius: 0;
}

.continue {
    background-color: #ff7043;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px 0;
    margin: 35px 0 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: RobotoMB !important;
    font-size: 14px !important;
    color: #fff !important;
    line-height: 20px;
}

.or { 
    margin-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
    display: block;
}

.orBorder {
    position: relative;
    top: 11px;
    display: inline-block;
    background: #fff;
    padding: 0 5px;
}

.ssoLoginContainer {
    width: 100%;
}

.ssoLogin {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    padding: 9px 5px;
    vertical-align: middle;
    margin-bottom: 10px;
    width: 100%;
}

.image {
    padding-right: 11px;
    margin-left: 59px;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}
.terms {
    margin-top: 18px;
    border-top: 1px solid #e0e0e0;
    padding: 15px 0 0;
    font-family: RobotoLR!important;
    font-size: 12px;
    color: #424242;
    line-height: 17px;
}
